[Unit]
Description=Realtime GPIO Controller for OPiZero, NanoPiNEO-LTS and RockPiS

[Service]
User=root
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/root/gpio-controller/
ExecStart=/root/gpio-controller/app.js

[Install]
WantedBy=multi-user.target
