.block-wrapper {
	flex-direction: row;
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	padding-top: 5px;
}
section.block {
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid #EBEBEB;
	margin: 5px;
	margin-right: 0;
	margin-top: 0;
}
section.block:last-of-type {
	margin-right: 0;
}
section.block h4 {
	padding: 5px;
	border-bottom: 1px solid #EBEBEB;
	color: #37474F;
	width: 100%;
	text-align: center;
	background-color: #F4F4F4;
}
section.block span {
	color: #222;
	padding: 5px;
	width: 100%;
	text-align: center;
}